.flight-editor-view .textfield
{
    -fx-border-color: rgb(0,0,0,0);
    -fx-border-width: 2px;
}
.flight-editor-view .label
{
    -fx-border-color: rgb(0,0,0,0);
    -fx-border-width: 2px;
}
.validation-error-label
{
    -fx-text-fill: red;
}
.hidden
{
    visibility: hidden;
}
.error
{
    -fx-border-color: red;
    -fx-border-width: 2px;
}
